@import 'App.module.scss';

.main {
	max-width: 100%;

	.container {
		max-width: rem(1110);
		margin: 0 auto;
		padding: 0 0 0 rem(30);

		color: $font-color-1;
	}
}

@media (max-width: rem(985)) {
	.main {
		.container {
			padding: 0;
		}
	}
}
