@use 'App.module.scss' as function;

.navBar {
	grid-area: navbar;
	display: flex;
	justify-content: space-between;
	align-self: center;
	height: function.rem(80);

	.handle {
		font-family: mainFont;
		align-self: center;
		font-size: function.rem(24);
	}
}

@media (max-width: function.rem(985)) {
	.navBar {
		.handle {
			margin-left: function.rem(30);
		}
	}
}

@media (max-width: function.rem(530)) {
	.navBar {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: function.rem(30);

		.handle {
			margin-left: function.rem(0);
		}
	}
}
