@import 'App.module.scss';

.linkList {
	display: flex;
	list-style: none;
	width: min-content;
	gap: rem(20);
	margin-right: rem(30);

	li {
		align-self: center;

		a {
			display: block;

			img {
				display: block;
			}
		}
	}
}
