.linkList {
	display: flex;
	list-style: none;
	width: min-content;
	gap: 2rem;
	margin-right: 3rem;

	li {
		align-self: center;

		a {
			display: block;

			img {
				display: block;
			}
		}
	}
}
