@import 'App.module.scss';

.projectSection {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(40);
	margin-bottom: rem(100);

	.sectionName {
		font-family: mainFont;
		font-size: rem(88);
	}

	.resumeNav {
		display: flex;
		align-items: center;
		justify-content: end;
	}
}
