@use 'App.module.scss' as function;

.projectImage {
	width: function.rem(540);
	height: function.rem(400);
}

.projectDetails {
	display: flex;
	flex-flow: column;

	h1 {
		font-family: secondaryFont;
		font-size: function.rem(46);
		span {
			border-bottom: function.rem(5) solid var(--third-bg-color);
		}
	}

	ul {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		gap: function.rem(20);
		margin-top: function.rem(20);

		li {
			font-family: secondaryFont;
			font-size: function.rem(24);
			color: var(--font-color-2);
		}
	}

	p {
		font-family: secondaryFont;
		font-size: function.rem(20);
		margin: function.rem(60) 0;
		color: var(--font-color-2);
	}

	.linkDiv {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;

		a {
			font-family: secondaryFont;
			font-size: function.rem(24);
			color: var(--third-bg-color);
			align-self: end;
			text-decoration: none;

			&:hover {
				border-bottom: function.rem(3) solid var(--font-color-1);
			}
		}
	}
}

@media (max-width: function.rem(1050)) {
	.projectDetails {
		h1 {
			text-align: center;
		}

		p {
			text-align: center;
			margin: function.rem(30) 0;
		}

		ul {
			justify-content: center;
		}

		.linkDiv {
			display: flex;
			flex-direction: column;
			justify-content: end;

			a {
				align-self: center;
			}
		}

		.linkDiv a:nth-child(1) {
			margin-bottom: function.rem(30);
		}
	}
}

@media (max-width: function.rem(970)) {
	.projectImage {
		align-self: center;
	}
	.projectDetails {
		align-items: center;
	}
}

@media (max-width: function.rem(540)) {
	.projectImage {
		max-width: 100%;
		height: auto;
	}
}
