@import 'App.module.scss';

.projectImage {
	width: rem(540);
	height: rem(400);
}

.projectDetails {
	display: flex;
	flex-flow: column;

	h1 {
		font-family: secondaryFont;
		font-size: rem(46);
		span {
			border-bottom: rem(5) solid $third-bg-color;
		}
	}

	ul {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		gap: rem(20);
		margin-top: rem(20);

		li {
			font-family: secondaryFont;
			font-size: rem(24);
			color: $font-color-2;
		}
	}

	p {
		font-family: secondaryFont;
		font-size: rem(20);
		margin: rem(60) 0;
		color: $font-color-2;
	}

	.linkDiv {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;

		a {
			font-family: secondaryFont;
			font-size: rem(24);
			color: $third-bg-color;
			align-self: end;
			text-decoration: none;

			&:hover {
				border-bottom: rem(3) solid $font-color-1;
			}
		}
	}
}
