$font-color-1: #fff;
$font-color-2: #d9d9d9;
$third-bg-color: #4ee1a0;

@font-face {
	font-family: secondaryFont;
	src: url(../assets/fonts/static/SpaceGrotesk-Medium.ttf);
}

.projectImage {
	width: 54rem;
	height: 40rem;
}

.projectDetails {
	display: flex;
	flex-flow: column;

	h1 {
		font-family: secondaryFont;
		font-size: 4.6rem;
		span {
			border-bottom: 5px solid $third-bg-color;
		}
	}

	ul {
		display: flex;
		list-style: none;
		flex-wrap: wrap;
		gap: 2rem;
		margin-top: 2rem;

		li {
			font-family: secondaryFont;
			font-size: 2.4rem;
			color: $font-color-2;
		}
	}

	p {
		font-family: secondaryFont;
		font-size: 2rem;
		margin: 6rem 0;
		color: $font-color-2;
	}

	.linkDiv {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;

		a {
			font-family: secondaryFont;
			font-size: 2.4rem;
			color: $third-bg-color;
			align-self: end;
			text-decoration: none;

			&:hover {
				border-bottom: 3px solid $third-bg-color;
			}
		}
	}
}
