@import 'App.module.scss';

.projectSection {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: rem(40);
	margin-bottom: rem(100);

	.sectionName {
		font-family: mainFont;
		font-size: rem(88);
	}

	.resumeNav {
		display: flex;
		align-items: center;
		justify-content: end;
	}
}

@media (max-width: rem(970)) {
	.projectSection {
		display: flex;
		flex-direction: column;

		.sectionName {
			align-self: center;
			font-size: rem(70);
		}

		.resumeNav {
			align-self: center;
		}
	}
}
