@use 'App.module.scss' as function;

.resume {
	font-family: secondaryFont;
	color: var(--font-color-2);
	font-size: function.rem(24);
	text-decoration: none;
	padding-bottom: function.rem(3);
	border-bottom: function.rem(4) solid var(--third-bg-color);

	&:hover {
		color: var(--third-bg-color);
	}
}
