@import 'App.module.scss';

.resume {
	font-family: secondaryFont;
	color: $font-color-2;
	font-size: rem(24);
	text-decoration: none;
	padding-bottom: rem(3);
	border-bottom: rem(4) solid $third-bg-color;

	&:hover {
		color: $third-bg-color;
	}
}
